html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#content {
	position: relative;
	height: 100%;
}
.pages {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	/*border: 3px solid red;*/
}

.lines-container {
	height: 100%;
	width: 100%;
	position: absolute;
}
.lines {
	height: 100%;
	position: absolute;
	width: 50px;
	z-index: 9999;
	opacity: 0;
}
.left {
	left: -50px;
}
.right {
	right: -50px;
}
.red, .red2 {
	background: #9B0629;
}
.gray {
	background: gray;
}
.gray2 {
	background: #4E4E4E;
}
.black {
	background: #3B3A3A;
}
.white, .white2 {
	background: white;
}

.loader {
	display: block;
	font-size: 20px;
	text-align: center;
	color: #71426B;
}
