html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	background: url('../img/fara.jpg') no-repeat;
}

#content {
	position: relative;
	height: 100%;
	background: rgba(255, 255, 255, .8);
	width: 80%;
	margin: 0 auto;
}
.pages {
	padding: 20px 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
}

.lines-container {
	height: 100%;
	width: 100%;
	position: absolute;
}
.lines {
	height: 100%;
	position: absolute;
	width: 50px;
	z-index: 9999;
	opacity: 0;
}
.left {
	left: -50px;
}
.right {
	right: -50px;
}
.red, .red2 {
	background: #9B0629;
}
.gray {
	background: gray;
}
.gray2 {
	background: #4E4E4E;
}
.black {
	background: #3B3A3A;
}
.white, .white2 {
	background: white;
}

.loader {
	display: block;
	font-size: 20px;
	text-align: center;
	color: #71426B;
}
.arrow {
	position: fixed;
	width: 20%;
	left: 50%;
	transform: translateX(-50%);
	bottom: 1%;
	margin: 0 auto;
	color: #363535;
}
.arrow span {
	font-size: 24px;
}