.about-row {
  display: flex;
  margin: 0 0 30%;
  height: 50vh;
}

.about-row .about-u {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.about-row .about-u img {
  width: 50%;
  height: auto;
  transition: all .5s;
}

.about-row .about-u .au-discr {
  display: flex;
  position: absolute;
  top: 100%;
  background-color: #fd5433;
  padding: 75px 120px 30px 120px;
  display: none;
  z-index: 0;
  transition: all .8s;
  margin: 0;
}

.about-u:hover {
  overflow: visible;
}

.about-u:hover img {
  width: 70%;
  height: auto;
}

.about-row .about-u .au-discr:nth-child(4) .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-row .about-u .au-discr:nth-child(4) .skills .skil-lines {
  height: 10px;
  background-color: #fff;
  margin: 17px 0;
}

.skills-title p {
  font-size: 1.5em;
}

.skil-lines p {
  font-size: 1.5em;
}

.mobile-switch {
  display: none;
}

@font-face {
  font-family: Oswald-Bold;
  src: url(../fonts/Oswald/Oswald-Bold.ttf);
}

@font-face {
  font-family: Oswald-Regular;
  src: url(../fonts/Oswald/Oswald-Regular.ttf);
}

@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
}

header {
  height: 110px;
}

.nav-mnu {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  margin: 0;
  transparency: 0.4;
}

.nav-mnu li a {
  text-transform: uppercase;
  padding: 65px 20px;
  font-family: Oswald-Bold;
  color: #565656;
}

.nav-mnu li a:hover {
  background-color: #fd5433;
  color: #ffffff;
}

.logo {
  height: 110px;
  display: flex;
  align-items: center;
  margin-left: 50%;
}

nav {
  display: flex;
  height: 110px;
  justify-content: flex-end;
}

#bcg_header {
  overflow: hidden;
}

.bcg_head {
  padding: 0;
}

.bcg_head > img {
  width: 100%;
  height: 100%;
  z-index: 990;
}

.bcg_head .in-head {
  /*це ще один спосиб вертикального та горизонтального виривнювання*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 30%;
}

.bcg_head .in-head > h1 {
  font-family: Oswald-Bold;
  position: absolute;
  z-index: 999;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 7vw;
  /*добавив нижче*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.bcg_head .in-head > a {
  position: absolute;
  z-index: 998;
  text-transform: uppercase;
  font-family: Oswald-Bold;
  margin-top: 9%;
  width: 10em;
  font-size: 2em;
  /*добавив нижче*/
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-primary {
  color: #ffffff;
  border-color: transparent;
  border-top: solid 2px #FD6E52;
  background-color: #fd5433;
}

.btn-primary:hover {
  background-color: #ffffff;
  color: #565656;
  border-color: transparent;
}

.switch {
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 3em;
  position: absolute;
  right: -20px;
  top: 40px;
  height: 30px;
  margin-right: 75px;
  z-index: 9999;
}

.switch .sandwich {
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 3px;
  position: absolute;
  transition: .4s;
}

.switch .line-1 {
  top: 0;
}

.switch .line-2 {
  top: 10px;
}

.switch .line-3 {
  top: 20px;
}

.sw_closed {
  opacity: 1;
  display: flex;
  flex-direction: column;
  width: 3em;
  position: absolute;
  top: 40px;
}

.sw_closed .sandwich {
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 3px;
  position: absolute;
  transition: .4s;
}

.sw_closed .line-1 {
  top: 10px;
  transform: rotate(45deg);
}

.sw_closed .line-2 {
  opacity: 0;
}

.sw_closed .line-3 {
  top: 10px;
  transform: rotate(-45deg);
}

.chapters {
  height: 100px;
  border-bottom: solid #565656 1px;
  width: 100%;
  text-transform: uppercase;
  color: #fd5433;
}

@media screen and (min-width: 1200px) {
  .switch {
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .nav-mnu {
    transition: .6s;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1001;
    top: 110px;
    background-color: #fd5433;
    margin: 0;
    padding: 0;
    right: -100%;
    opacity: 0;
  }
  .nav-mnu > li {
    padding: 10px;
    border-bottom: solid #565656 1px;
    font-size: 1.8rem;
  }
  .nav-mnu > li:hover {
    border-bottom: solid #fff 1px;
    padding: 10px;
  }
  .logo {
    margin-left: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-mnu li a {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .porfolio_img img {
    width: 50%;
    height: 50%;
  }
  .bcg_head {
    height: 80vh;
    overflow: hidden;
  }
  .bcg_head img {
    width: 200vw;
  }
}

.porfolio_img {
  padding: 0;
  text-align: center;
}

.porfolio_img img {
  width: 100%;
}

.chapters {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-bottom: solid #565656 1px;
  width: 100%;
  text-transform: uppercase;
  color: #fd5433;
}

.serv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-bottom: solid #565656 1px;
  width: 100%;
}

.serv h2 {
  text-transform: uppercase;
  color: #fd5433;
}

.serv_desript {
  text-align: center;
  margin: 70px 0;
}

.serv_desript h2 {
  padding: 20px 0px;
  font-family: Oswald-Bold;
  text-transform: uppercase;
  color: #565656;
}

.serv_desript:hover > h2 {
  color: #fd5433;
}

.serv_desript h3 {
  font-size: 1rem;
  text-align: center;
  font-family: Arial;
  color: #565656;
}

@media screen and (min-width: 1200px) {
  .switch {
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .nav-mnu {
    transition: .6s;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1001;
    top: 110px;
    background-color: #fd5433;
    margin: 0;
    padding: 0;
    right: -100%;
    opacity: 0;
  }
  .nav-mnu > li {
    padding: 10px;
    border-bottom: solid #565656 1px;
    font-size: 1.8rem;
  }
  .nav-mnu > li:hover {
    border-bottom: solid #fff 1px;
    padding: 10px;
  }
  .logo {
    margin-left: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-mnu li a {
    padding: 0;
  }
  .about-row .about-u .au-discr {
    padding: 20%;
  }
  .about-u img {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .about-row {
    height: 35vh;
  }
  .about-u img {
    width: 100%;
    height: auto;
  }
  .bcg_head .in-head > h1 {
    top: 30%;
  }
  .porfolio_img img {
    width: 80%;
    height: 80%;
  }
  .bcg_head {
    height: 80vh;
    overflow: hidden;
  }
  .bcg_head img {
    width: 200vw;
  }
}

@media screen and (max-width: 480px) {
  .mobile-switch {
    position: absolute;
    left: 80%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 9999;
    background-image: url("../img/close_btn.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
  .skills {
    width: 50%;
  }
  .about-row .about-u {
    margin-bottom: 10%;
  }
  .about-row .about-u h2 {
    font-size: 1.2em;
  }
  .about-row .about-u p {
    font-size: 1em;
  }
  .about-row .about-u .au-discr {
    padding: 5%;
  }
  .about-row .about-u img {
    width: auto;
    height: 100%;
    transition: width .8s;
  }
  .about-row .about-u:hover img {
    width: 60%;
    height: auto;
  }
  .bcg_head .in-head > h1 {
    top: 0;
  }
}
