.about-row {
  display: flex;
  margin: 0 0 30%;
  height: 50vh;
}

.about-row .about-u {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.about-row .about-u img {
  width: 50%;
  height: auto;
  transition: all .5s;
}

.about-row .about-u .au-discr {
  display: flex;
  position: absolute;
  top: 100%;
  background-color: #fd5433;
  padding: 75px 120px 30px 120px;
  display: none;
  z-index: 0;
  transition: all .8s;
  margin: 0;
}

.about-u:hover {
  overflow: visible;
}

.about-u:hover img {
  width: 70%;
  height: auto;
}

.about-row .about-u .au-discr:nth-child(4) .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-row .about-u .au-discr:nth-child(4) .skills .skil-lines {
  height: 10px;
  background-color: #fff;
  margin: 17px 0;
}

.skills-title p {
  font-size: 1.5em;
}

.skil-lines p {
  font-size: 1.5em;
}

.mobile-switch {
  display: none;
}
