.chapters {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-bottom: solid #565656 1px;
  width: 100%;
  text-transform: uppercase;
  color: #fd5433;
}

.serv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-bottom: solid #565656 1px;
  width: 100%;
}

.serv h2 {
  text-transform: uppercase;
  color: #fd5433;
}

.serv_desript {
  text-align: center;
  margin: 70px 0;
}

.serv_desript h2 {
  padding: 20px 0px;
  font-family: Oswald-Bold;
  text-transform: uppercase;
  color: #565656;
}

.serv_desript:hover > h2 {
  color: #fd5433;
}

.serv_desript h3 {
  font-size: 1rem;
  text-align: center;
  font-family: Arial;
  color: #565656;
}

@media screen and (min-width: 1200px) {
  .switch {
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .nav-mnu {
    transition: .6s;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1001;
    top: 110px;
    background-color: #fd5433;
    margin: 0;
    padding: 0;
    right: -100%;
    opacity: 0;
  }
  .nav-mnu > li {
    padding: 10px;
    border-bottom: solid #565656 1px;
    font-size: 1.8rem;
  }
  .nav-mnu > li:hover {
    border-bottom: solid #fff 1px;
    padding: 10px;
  }
  .logo {
    margin-left: 20%;
  }
}

@media screen and (max-width: 1024px) {
  .nav-mnu li a {
    padding: 0;
  }
  .about-row .about-u .au-discr {
    padding: 20%;
  }
  .about-u img {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .about-row {
    height: 35vh;
  }
  .about-u img {
    width: 100%;
    height: auto;
  }
  .bcg_head .in-head > h1 {
    top: 30%;
  }
  .porfolio_img img {
    width: 80%;
    height: 80%;
  }
  .bcg_head {
    height: 80vh;
    overflow: hidden;
  }
  .bcg_head img {
    width: 200vw;
  }
}

@media screen and (max-width: 480px) {
  .mobile-switch {
    position: absolute;
    left: 80%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 9999;
    background-image: url("../img/close_btn.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
  }
  .skills {
    width: 50%;
  }
  .about-row .about-u {
    margin-bottom: 10%;
  }
  .about-row .about-u h2 {
    font-size: 1.2em;
  }
  .about-row .about-u p {
    font-size: 1em;
  }
  .about-row .about-u .au-discr {
    padding: 5%;
  }
  .about-row .about-u img {
    width: auto;
    height: 100%;
    transition: width .8s;
  }
  .about-row .about-u:hover img {
    width: 60%;
    height: auto;
  }
  .bcg_head .in-head > h1 {
    top: 0;
  }
}
